<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="~{navigation :: navigation('Cart')}"/>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" th:text="#{column.name}"/>
            <th scope="col" th:text="#{column.count}"/>
            <th scope="col" th:text="#{column.cost}"/>
            <th scope="col" th:text="#{column.action}"/>
        </tr>
    </thead>
    <tbody>
        <tr th:each="prod : ${products.getProducts()}">
            <th:block th:object="${prod}">
                <th th:text="*{getKey().getTitle()}"/>
                <td>
                    <a th:href="@{'/cart/delete?id=' + ${#object.getKey().getId()}}" th:text="'-'"/>
                     <span th:text="${#object.getValue()}"/>
                    <a th:href="@{'/cart/add?id=' + ${#object.getKey().getId()}}" th:text="'+'"/>
                </td>
                <td th:text="${prod.getKey().getPrice()} * *{getValue()}" />
            </th:block>
        </tr>
    </tbody>
</table>

<div>
    Итого к оплате - <span th:text="${products.getTotalCost()}"/> руб.
</div>
<div>
    <a th:text="'Оформить заказ'" th:href="@{'/order/add'}"></a>
</div>

</body>
</html>