<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="~{navigation :: navigation('Shop')}"/>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" th:text="#{column.number}"/>
            <th scope="col" th:text="#{column.name}"/>
            <th scope="col" th:text="#{column.cost}"/>
            <th scope="col" th:text="#{column.action}"/>
        </tr>
    </thead>
    <tbody>
        <tr th:each="prod : ${page.getContent()}">
            <th:block th:object="${prod}">
                <th scope="row" th:text="*{id}"/>
                <td th:text="${#object.title}"/>
                <td th:text="*{price}"/>
                <td>
                    <a th:text="#{caption.cart.add.product}" th:href="@{'/cart/add?id=' + ${#object.id}}"/>
                </td>
            </th:block>
        </tr>
    </tbody>
</table>

<div th:insert="~{pagination :: pagination}"></div>
<div th:insert="~{filter-form :: filter-form('shop')}"></div>
</body>
</html>